<p>Welcome back!</p>
<p>Please log in. If you do not already have an account, please <a href="/signup">sign up</a>.</p>
<br>
<form action="/login" method="post">
   <p><b>Username:</b></p>
   <input type="text" name="username">
   <br><br>
   <p><b>Password:</b></p>
   <input type="password" name="password">
   <input type="submit">
</form>
