ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li {
   float: left;
 }

li a {
   display: block;
   text-align: center;
   padding: 7px 20px;
   text-decoration: none;
 }

 button {
    text-align:right;
 }

 p.red {
   color: red;
 }

 p.inline {
   display: inline-block;
 }

 h4 {
   font-size: 12px;
 }
