<h3><%= params[:username] %>'s musings</h3>
<p>Follow this user</p>

<% posts = Post.all.select{ |post| post.user_id == @user.id }.sort_by{ |post| post.date_added }.reverse! %>
<% if posts.size > 0 %>
   <% viewers_own_account = (posts.first.user_id == session[:id]) %>
   <% posts.each do |post| %>
      <% if !post[:is_public] && !viewers_own_account %>
      <% else %>
            <h3><%= post.date_added.strftime("%d %B %Y") %></h3>
            <p><%= post.content %></p>
            <br \>
      <% end %>
   <% end %>
<% else %>
   <h3>This user has not committed any fun facts yet!</h3>
<% end %>
