<% posts = Post.all.select{ |post| post.user_id == @user.id }.sort_by{ |post| post.date_added }.reverse! %>
<% posts.each do |post| %>
   <h3><%= post.date_added.strftime("%d %B %y") %></h3>
   <p><%= post.content %>
<% end %>
