<form action="/new" method="post">
   <textarea type="text" name="content" rows="3", cols="50"></textarea>
   <p>Make this post public? <input type="checkbox" name="is_public"></p>
   <input type="submit">
</form>
