<form action="/<%= params[:username] %>/posts/<%= params[:post_id] %>/edit" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <textarea type="text" name="post[content]" rows="3", cols="50"><%= @content %></textarea>
    <p>Make this post public? <input type="checkbox" name="post[is_public]" <%= @checked %>></p>
    <input type="submit">
</form>
