<!doctype html>
<html>
  <head>
    <title>Brain Bank</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <div class="container">
      <h1>Brain Bank</h1>
      <% if logged_in? %>
        <p><a href="/">My Feed</a>     <a href="/<%= current_user.username %>">My Profile</a>     <a href="/<%= current_user.username %>/posts">My Posts</a>     <form action="/logout" method="post"><button type="submit">Log Out</button></form></p>
      <% else %>
        <p><a href="/">My Feed</a>     <a href="/login">My Profile</a>     <a href="/login">My Posts</a>     <form action="/login" method="post"><button type="submit">Log In</button></form></p>
      <% end %>

      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
